body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    background-repeat: no-repeat
}

.fieldlabels {
    color: #455A64 !important;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #607884;
    padding-left: 0px;
    margin-top: 30px;
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #step1:before {
    content: "1";
    color: #fff
}

#progressbar #step2:before {
    content: "2";
    color: #fff
}

#progressbar #step3:before {
    content: "3";
    color: #fff;
}

#progressbar #step4:before {
    content: "3";
    color: #fff;
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #455A64;
    border-radius: 50%;
    margin: auto;
    padding: 0px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0;
    top: 21px;
    z-index: -1
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%
}

#progressbar li:nth-child(2):after {
    left: 0%;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #64a9f1
}

.card {
    background-color: #64a9f1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 60px 40px 40px 40px;
    z-index: 0;
    display: none;
}

.card.show {
    display: block
}

.form-control-label {
    font-size: 22px !important;
    color: #fff;
    letter-spacing: 1px
}

::placeholder {
    color: #fff;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #fff;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #fff;
    font-weight: 300
}

input:not([type='radio']), textarea, button {
    background-color: #64a9f1 !important;
    padding: 8px 15px 8px 15px;
    border-radius: 0px !important;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 18px !important;
    color: #fff !important;
    font-weight: 300
}

select {
    background-color: #64a9f1 !important;
    color: white!important;
    border: 0px !important;
    border-bottom: 1px solid #cccccc !important;
    border-radius: 0px !important;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #3289af;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.circle {
    position: relative
}

.fa-long-arrow-right {
    color: #64a9f1;
    background-color: #fff;
    padding: 12px;
    margin: 5px;
    border-radius: 50%;
    border: 3px solid #64a9f1;
    position: absolute;
    left: -28px;
    top: 12px;
    cursor: pointer
}

.fa-long-arrow-right:hover {
    color: #FFF;
    background-color: #c5dffb;
}

.fa-long-arrow-left {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    cursor: pointer
}

.check-mark {
    width: 180px;
    height: 180px
}






.switch {
    margin: 4rem auto;
  }
  /* main styles */
  .switch {
    width: 24rem;
    position: relative;
  }
  .switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  .switch input:checked {
    z-index: 1;
  }
  .switch input:checked + label {
    opacity: 1;
    cursor: default;
  }
  .switch input:not(:checked) + label:hover {
    opacity: 0.5;
  }
  .switch label {
    color: #fff;
    opacity: 0.33;
    transition: opacity 0.25s ease;
    cursor: pointer;
  }
  .switch .toggle-outside {
    height: 67%;
    border-radius: 2rem;
    padding: 0.25rem;
    overflow: hidden;
    transition: 0.25s ease all;
  }
  .switch .toggle-inside {
    border-radius: 5rem;
    background: #64a9f1;
    position: absolute;
    transition: 0.25s ease all;
  }
  .switch--horizontal {
    width: 18rem;
    height: 3rem;
    margin: 0 auto 0 0;
    font-size: 0;
    margin-bottom: 2rem;
  }
  .switch--horizontal input {
    height: 3rem;
    width: 6rem;
    left: 6rem;
    margin: 0;
  }
  .switch--horizontal label {
    font-size: 1.5rem;
    /* line-height: 3rem; */
    display: inline-block;
    width: 5rem;
    height: 100%;
    margin: 0;
    text-align: center;
  }
  .switch--horizontal label:last-of-type {
    margin-left: 6rem;
  }
  .switch--horizontal .toggle-outside {
    background: #fff;
    position: absolute;
    width: 5rem;
    left: 6rem;
  }
  .switch--horizontal .toggle-inside {
    height: 1.5rem;
    width: 1.5rem;
  }
  .switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
    left: 0.25rem;
  }
  .switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
    left: 3.25rem;
  }
  .switch--vertical {
    width: 12rem;
    height: 6rem;
  }
  .switch--vertical input {
    height: 100%;
    width: 3rem;
    right: 0;
    margin: 0;
  }
  .switch--vertical label {
    font-size: 1.5rem;
    line-height: 3rem;
    display: block;
    width: 8rem;
    height: 50%;
    margin: 0;
    text-align: center;
  }
  .switch--vertical .toggle-outside {
    background: #fff;
    position: absolute;
    width: 3rem;
    height: 100%;
    right: 0;
    top: 0;
  }
  .switch--vertical .toggle-inside {
    height: 2.5rem;
    left: 0.25rem;
    top: 0.25rem;
    width: 2.5rem;
  }
  .switch--vertical input:checked ~ .toggle-outside .toggle-inside {
    top: 0.25rem;
  }
  .switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
    top: 3.25rem;
  }
  .switch--no-label label {
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  .switch--no-label input:checked ~ .toggle-outside .toggle-inside {
    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
  }
  .switch--no-label input ~ input:checked ~ .toggle-outside {
    background: #fff;
  }
  .switch--no-label input ~ input:checked ~ .toggle-outside .toggle-inside {
    background: #2ecc71;
  }
  .switch--no-label.switch--vertical {
    width: 3rem;
  }
  .switch--no-label.switch--horizontal {
    width: 6rem;
  }
  .switch--no-label.switch--horizontal input,
  .switch--no-label.switch--horizontal .toggle-outside {
    left: 0;
  }
  .switch--expanding-inner input:checked + label:hover ~ .toggle-outside .toggle-inside {
    height: 2.5rem;
    width: 2.5rem;
  }
  .switch--expanding-inner.switch--horizontal input:hover ~ .toggle-outside .toggle-inside {
    width: 3.5rem;
  }
  .switch--expanding-inner.switch--horizontal input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
    left: 2.25rem;
  }
  .switch--expanding-inner.switch--vertical input:hover ~ .toggle-outside .toggle-inside {
    height: 3.5rem;
  }
  .switch--expanding-inner.switch--vertical input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
    top: 2.25rem;
  }
  /* mixin */
