html,body{
    height : 100%;
}

.mainColor{
    color: #4987bf;
}

.secondColor{
    color: #4987bfab;
}

.color_link{
    color:#9393a1;
}

#content{
    height: calc(100% - 99px );
}

.menu ul {
    list-style-type: none;
    margin: 0;
}
.menu li {
    display: inline-block;
    padding: 37px 7px;
}

header{
    border-bottom: 1px solid #d4d4d4;
}

h2{
    margin-bottom: 30px;
    color: #3a7dba;
}

#message_popup{
    background-color: #51ad55;
    color: whitesmoke;
    padding: 10px 20px;
    position: fixed;
    width: 40%;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 10;
}
#message_popup p {
    margin: 0px;
}

#message_popup a {
    text-decoration: underline;
}

.close_popup{
    position: fixed;
    right: 0;
    padding: 0 15px;
}

.close_popup i {
    cursor: pointer;
}

.background-accueil{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background-accueil.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 300px;
}

.boxCommand div{
    background: #e8e8e8;
    text-align: center;
    padding: 40px 0px;
}

.boxCommand.selected div{
    background: #32557f;
    color: white;
}

.payment_method{
    width: 30%;
}

.custom-file-upload{
    cursor: pointer;
}

.property-pictures{
    display: none;
}

.fileList{
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

.fileList li {
    display: inline-block;
    height: 150px;
    margin: 1%;
    width: 23%;
    position: relative;
    border: 1px solid #9393a1;
    border-radius: 3px;
    background-color: #9393932e;
}

.fileList div{
	background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width:100%;
    height:100%;
}

.removeFile .fa-trash, .makePhotoMain .fa-star{
    font-size: 25px;
}

.removeFile:hover{
	    color: #ff5656b8;
}

.makePhotoMain:hover{
      color : #9393a1c2;
}
.makePhotoMain.mainPhoto {
	color: #f7e333;
}
.makePhotoMain{
    color : #9393a1;
    position: absolute;
    right: 3%;
    top: 5px;
    background: whitesmoke;
    padding: 4px;
    border-radius: 2px;
}

.removeFile {
    position: relative;
    bottom: -110px;
    left: 3%;
    /* vertical-align: top; */
    background: whitesmoke;
    color: #ff5656;
    padding: 7px;
    border-radius: 2px;
}

.list_property_user .picture
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    position: relative;
}

.list_property_user:nth-child(even){
	background-color :#f1f1f1
}

.leftPubishFormContainer{
    border-right: 1px solid #d4d4d4;
}

.mainLeftSideInfo {
    list-style-type: none;
    float: right;
}

.mainLeftSideInfo img {
    width: 30px;
    height: 30px;
}

.mainLeftSideInfo > li{
    margin: 20px;
}
.childLeftSideInfo {
    list-style-type: none;
}
.childLeftSideInfo > li {
    margin: 10px;
}

.childLeftSideInfo img{
    width: 10px;
    height: 10px;
}

.selectedLeftSide {
    font-weight: bolder;
    color: c;
}

#formPublish {
    height: 100%;
}

.form_publish_step{
    position: relative;
    height: 100%;
}

.form_publish_btn{
    width: 100%;
}

.nextPublishButton {
    float: right;
}

.form_publish_step{
    display: none;
}

.form_publish_selected{
    display: block !important;
}
.previousPublishButton{
    text-decoration: underline;
    cursor: pointer;
    color: #4987bf;
    float: left;
}

.form_step_publish_already_selected{
    color: #4987bf;
}

.form_step_publish_already_selected{
    cursor: pointer;
}

 .round_empty_colored, .round_checked, .form_step_publish_already_selected .round_empty, .form_step_publish_selected .round_empty,
 .icon_contact_details_colored,.icon_title_description_colored,.icon_payment_colored, .form_step_publish_already_selected .icon_contact_details,
 .form_step_publish_already_selected .icon_title_description, .form_step_publish_already_selected .icon_payment,.form_step_publish_selected .icon_contact_details,
 .form_step_publish_selected .icon_title_description, .form_step_publish_selected .icon_payment{
    display: none;
}
.form_step_publish_selected .round_checked{
    display: none !important;
}

.form_step_publish_selected .round_empty_colored, .form_step_publish_already_selected .round_checked, .form_step_publish_already_selected .icon_contact_details_colored,
.form_step_publish_already_selected .icon_title_description_colored, .form_step_publish_already_selected .icon_payment_colored{
    display: inline-block;
}



.form_step_publish_selected {
    font-weight: 500;
    color:#3a7dba
}

.previousPublishButton img{
    width: 25px;
    height: 25px;
}

.switch_field {
	overflow: hidden;
	text-align: center;
}

.switch_field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch_field label {
	/* background-color: #efefef; */
	color: #939393;
	font-size: 14px;
	line-height: 1;
	width: 19%;
	height: 35px;
	text-align: center;
	padding: 8px 16px;
	border-radius: 2px;
	margin-right: -1px;
	border: 1px solid #939393;
	transition: all 0.1s ease-in-out;
}

.switch_field label:hover {
	cursor: pointer;
	color:#9393a18c;
	border-color: #9393a18c;
}

.switch_field input:checked + label {
	box-shadow: none;
	color: #3a7dba;
	border: 1px solid #3a7dba;
}

.switch_field input:checked + label img {
	display: inline-block !important;
}

.switch_field img{
    width: 20px;
    height: 15px;
    padding-left: 5px;
    display: none;
    position: absolute;
}

label.label_style_payment{
	padding-top: 0px;
	padding-right:20px;
	margin-bottom: 0px;
}
.label_style_payment span{
	padding-top: 8px;
	display: inline-block;
}

.label_style_payment img{
	display: inline-block;
	width: 40px;
	height: 30px;
	position: absolute;
	padding-top: 4px;
}

.image_type_of_property {
    text-align: center;
}

.image_type_of_property img{
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}

.image_type_of_property > div{
    cursor: pointer;
    width: 70%;
    padding: 15px;
    margin: auto;
    border: 1px solid #9393a1;
    border-radius: 3px;
}

.image_type_of_property .checked, .image_type_of_property_selected .no_checked{
    display: none;
}

.image_type_of_property_selected {
    border-color: #3a7dba !important;
}

.image_type_of_property_selected .color_link{
    color : #3a7dba;
}

.image_type_of_property_selected .checked{
    display: inline-block;
}

.type_of_property label {
    width: 100%;
}

.type_of_property{
    display: none;
}

.type_of_property_selected{
    display: block;
}

.error{
    color: #df0000;
    display: none;
}

.form-control-label{
	color: #3a7dba;
}

.form-control-label span{
	font-size: small;
}

.rent .d_sell, .sell .d_rent{
    display: none;
}

.icon_form_publish img {
    width: 75px;
    height: 75px;
}

.less_or_plus_box{
    position: relative;
}

.less_or_plus_box .less, .less_or_plus_box .plus{
    position: absolute;
    cursor: pointer;
}

.less_or_plus_box .plus{
    right: 0px;
}

.description_btn_box div{
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #9393a1;
	color: #9393a1;
	border-right: 0px;
	border-bottom: 0px;
	cursor: pointer;
}

.description_btn_box div:last-child{
	border-right: 1px solid;
}

.description_btn_selected {
	color: #3a7dba !important;
	border-color: #3a7dba !important;
}
.description_btn_selected + div {
	border-left-color:  #3a7dba !important;
}

.description_box textarea{
    display: none;
}

.description_selected {
    display: block !important;
}

.pack_price {
    display: none;
}

.week_selected{
    display: block;
}

.formula_type{
	padding: 5px;
	text-align: center;
	border: 1px solid #9393a1;
	height: 350px;
}

.formula_type .switch_field{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.pack_selected {
    border-color:  #3a7dba;
}

.pack_selected h4{
	color:  #3a7dba;
}

.price_check{
	width: 20px;
	height: 20px;
	padding: 3px;
}

.sub_type_property_option ,.sub_type_property{
    display: none;
}

.sub_type_property_option_selected{
    display: block;
}

 .input_symbol_euro {
     position: relative;
 }
 .input_symbol_euro input {
     padding-right: 15px;
 }
 .input_symbol_euro:after {
     position: absolute;
     bottom: 8px;
     content:"€";
     right: 5px;
 }

 .modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal_header{
  	font-weight: bolder;
  	padding-bottom: 10px;
  }

  .modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }

  .modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .modal .close:hover,
  .modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.modal_btn {
	text-align:center;
	padding: 10px;
}
